// Сброс настроек для списка
@mixin clear-list() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Оформление кнопки
@mixin btn() {
  display: block;
  box-sizing: border-box;
  min-height: 57px;
  padding: 16px 15px;
  background-color: $steelblue;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $slategray;
  }

  &:active {
    color: $lightblue;
    background-color: $cadetblue;
  }

  &:disabled {
    background-color: $cadetblue;
  }
}

// Оформление заголовка на странице формы
@mixin form-title() {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: center;

  @media #{$bp-width-tablet} {
    font-size: 21px;
  }
}

@mixin lineage($color: $shadowgray, $mrg-left: 5px, $mrg-right: 5px) {
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    height: 1px;
    background-color: $color;
  }

  &::before {
    margin-right: $mrg-right;
  }

  &::after {
    margin-left: $mrg-left;
  }
}
