// Сброс настроек для списка
@mixin clear-list() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Оформление кнопки
@mixin btn() {
  display: block;
  box-sizing: border-box;
  width: 280px;
  min-height: 57px;
  padding-top: 14px;
  background-color: $steelblue;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  border: none;

  &:hover {
    background-color: $slategray;
  }

  &:active {
    color: $lightblue;
    background-color: $cadetblue;
  }

  &:disabled {
    background-color: $cadetblue;
  }
}

// Оформление заголовка на странице формы
@mixin form-title() {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: center;

  @media #{$bp-width-tablet} {
    font-size: 21px;
  }
}
