$bp-width-mobile: "(max-width: 767px)";
$bp-width-tablet: "(min-width: 768px)";
$bp-width-desktop: "(min-width: 1200px)";

$mbl-width: 320px;
$tbl-width: 768px;
$dsk-width: 1200px;

$steelblue: #81b3d2;
$white: #ffffff;
$darkslategray: #678fa8;
$powderblue: #9ac2db;
$slategray: #669ec0;
$lightblue: #88b6d1;
$black: #000000;
$dimgray: #333333;
$azure: #eeeeee;
$darkgray: #d6d6d6;
$steel: #e5e5e5;
$ghostwhite: #fefefe;
$cadetblue: #5496bd;
$gray: #b2b2b2;
$mintcream: #f2f2f2;
$darkgray: #5c6870;
$whitesmoke: #c1c1c1;
$lightgray: #d5d5d5;
$lightslategray: #a4a4a4;
$lightgray: #e6e6e6;
