// Цвета для фона
$bg_color_blue: #81b3d2;
$bg_color_white: #ffffff;
$bg_color_grey: #eeeeee;

//Цвета для шрифтов
$font_header_bold: #000000;
$font_header_sub: #333333;
$font_header_light: #ffffff;

// Цвета оформления меню
$border_dark: #678fa8;
$border_light: #9ac2db;
$bg_color_blue_hover: #669ec0;
$bg_color_blue_active: #5496bd;
$font_header_light_active: rgba(255, 255, 255, 0.3);
