$steelblue: #81b3d2;
$white: #ffffff;
$gray: #eeeeee;
$ghostwhite: #333333;
$silver: rgba(0, 0, 0, 0.6);
$lightgray: #5e634f;
$black: #000000;
$darkslategray: #678fa8;
$lightgray: #9ac2db;
$slategrey: #669ec0;
$cadetblue: #5496bd;
$dimgrey: rgba(255, 255, 255, 0.3);
$steel: #d6d6d6;
$lightgray: #b2b2b2;
