.features {
  padding-top: 7px;
  padding-right: 20px;
  padding-left: 70px;
  margin-bottom: 39px;
  text-align: left;
}

.features__title {
  margin-bottom: 13px;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.features__text {
  margin-bottom: 29px;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
