.gallery {
  width: 100%;
  margin-bottom: 32px;
  border-top: 1px solid $steel;

  @media #{$bp-width-tablet} {
    width: 648px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: none;
  }
}
