.impression {
  padding-bottom: 23px;
  margin-bottom: 17px;
  border-bottom: 1px solid $steel;

  @media #{$bp-width-tablet} {
    order: 1;
    padding-bottom: 0;
    border: none;
  }
}

.impression__title {
  @include form-title();
  margin-bottom: 14px;

  @media #{$bp-width-tablet} {
    margin-bottom: 51px;
    text-align: left;
    letter-spacing: normal;
  }

  @media #{$bp-width-desktop} {
    padding-left: 80px;
    margin-bottom: 53px;
  }
}

.impression__list {
  @include clear-list();
  padding-left: 20px;
  padding-right: 20px;

  @media #{$bp-width-tablet} {
    padding: 0;
  }

  @media #{$bp-width-desktop} {
    padding-left: 4px;
  }
}

.impression__item {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 69px;

  @media #{$bp-width-tablet} {
    margin-bottom: 9px;
  }
}

.impression__label {
  display: block;
  position: relative;
  padding: 15px 0;
  padding-left: 78px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: none;
  cursor: pointer;

  @media #{$bp-width-tablet} {
    padding: 20px 0;
    padding-left: 75px;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 54px;
    height: 54px;
    top: 2px;
    left: 0;
    border-radius: 50%;
    background-color: $mintcream;

    @media #{$bp-width-tablet} {
      top: 7px;
    }
  }

  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    top: 18px;
    left: 17px;
    background-color: $dimgray;
    border-radius: 50%;
    transition: all 0.2s;
    opacity: 0;

    @media #{$bp-width-tablet} {
      top: 24px;
      left: 16px;
    }

    @media #{$bp-width-desktop} {
      top: 23px;
      left: 17px;
    }
  }
}

.impression__radio {
  position: absolute;
  width: 54px;
  height: 54px;
  opacity: 0;
}

.impression__radio:checked + .impression__label::after {
  opacity: 1;
}

.impression__radio:hover + .impression__label::before,
.impression__radio:focus + .impression__label::before {
  background-color: $steel;
}

.impression__radio:active + .impression__label::before {
  background-color: $lightgray;
}

.impression__radio:active + .impression__label::after {
  background-color: $lightslategray;
}
