.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: $mbl-width;
  padding-top: 34px;
  text-align: center;
  background-color: $white;
  border-bottom: 1px solid $steel;
  overflow: auto;
  box-shadow: 0 2px 17px 0 rgba(50, 50, 50, 0.75);
  z-index: 100;

  @media #{$bp-width-tablet} {
    width: 400px;
  }

  &--sended {
    width: $mbl-width;
    padding-bottom: 0;

    @media #{$bp-width-tablet} {
      width: 645px;
    }
  }

  &--open {
    display: block;
  }
}

.modal__main {
  @media #{$bp-width-tablet} {
    padding: 0 95px;
  }
}

.modal__inner {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: $mintcream;

  @media #{$bp-width-tablet} {
    padding: 45px 95px;
  }
}

.modal__btn {
  @include btn();
  width: 180px;
  font-size: 18px;
  margin: 0 auto;

  @media #{$bp-width-tablet} {
    font-size: 21px;
  }

  @media #{$bp-width-desktop} {
    width: 272px;
  }

  &--sended {
    width: 100%;
  }
}

.modal__message {
  box-sizing: border-box;
  padding: 0 41px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 24px;

  @media #{$bp-width-tablet} {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 39px;
  }

  &--sended {
    width: 100%;
    padding: 0 5px;
    margin-bottom: 34px;
  }
}

.modal__title {
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

 @media #{$bp-width-tablet} {
    font-size: 30px;
  }

  @media #{$bp-width-desktop} {
    line-height: 40px;
  }
}
