.page-footer {
  width: 100%;
  text-align: center;
  background-color: $ghostwhite;

  @media #{$bp-width-tablet} {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 56px;
  }

  @media #{$bp-width-desktop} {
    padding-right: 36px;
  }
}

.page-footer__hashtag {
  margin-bottom: 39px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $black;

  @media #{$bp-width-desktop} {
    margin-left: 74px;
    margin-right: -98px;
  }

  &--form {
    @media #{$bp-width-tablet} {
      margin-right: -6px;
    }

    @media #{$bp-width-desktop} {
      margin-left: 71px;
      margin-right: -101px;
    }
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  line-height: 26px;
  letter-spacing: 0.02em;
}

.page-footer__text {
  margin-right: 9px;
  color: $black;
}

.page-footer__copyright-link {
  display: block;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  margin-top: -4px;
  margin-left: 7px;
}

.page-footer__copyright-icon:hover {
  fill: $steelblue;
}

.page-footer__copyright-icon:active {
  fill: $gray;
}
