.page-footer {
  width: 100%;
  text-align: center;
}

.page-footer__hashtag {
  margin-bottom: 39px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.page-footer__copyright {
  padding-right: 40px;
  line-height: 26px;
}
