.page {
  width: $mbl-width;
  margin: 0 auto;
  padding: 0;

  @media #{$bp-width-tablet} {
    width: auto;
    max-width: $tbl-width;
  }

  @media #{$bp-width-desktop} {
    max-width: $dsk-width;
    box-shadow: 0 0 30px -4px rgba(0, 0, 0, 0.6);
  }
}
