.page-header {
  width: 100%;
  padding-bottom: 15px;
}

.page-header__promo {
  position: relative;
  padding-top: 56px;
  width: 100%;
  min-height: 390px;
  background-color: $bg_color_white;
  text-align: center;
}

.page-header__logo {
  display: block;
  position: absolute;
  top: -14px;
  left: 110px;
}

.page-header__desc {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
