.page-main {
  margin-bottom: 34px;
  text-align: center;
}

.page-main__header {
  padding: 0 20px;
  margin-bottom: 29px;
  text-align: center;
}

.page-main__title {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.page-main__lead {
  padding: 0 4px;
  line-height: 24px;

  &--form {
    padding: 0;
    margin-bottom: 35px;
  }
}
