.page-header {
  width: 100%;
}

.page-header__promo {
  position: relative;
  padding-top: 56px;
  width: 100%;
  background-color: $white;
  text-align: center;

  @media #{$bp-width-tablet} {
    padding-top: 0;
  }
}

.page-header__logo {
  display: block;
  position: absolute;
  top: 0;
  left: 110px;
  z-index: 10;

  @media #{$bp-width-tablet} {
    display: block;
    position: absolute;
    top: -59px;
    left: 333px;
    z-index: 10;
  }

  @media #{$bp-width-desktop} {
    left: 547px;
  }
}

.page-header__slogan {
  position: relative;
  margin-bottom: 37px;
  background-position: -241px -193px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto;

  &--general {
    margin-bottom: 12px;
    background-position: -228px -4px;
    background-size: cover;

    @media #{$bp-width-tablet} {
      padding-top: 75px;
      padding-bottom: 86px;
      margin-bottom: 23px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 321px;
    height: 30px;
    bottom: 0;
    left: 0;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }

  &--general::after {
    bottom: 4px;
  }
}

.page-header__img {
  padding-top: 3px;
  width: 280px;
  height: 384px;

  @media #{$bp-width-tablet} {
    padding-top: 0;
    width: 459px;
    height: auto;
  }

  @media #{$bp-width-desktop} {
    padding-top: 1px;
  }

  &--inner {
    padding-top: 1px;
    padding-bottom: 8px;
    width: 230px;
    height: 140px;
  }
}
