.page-nav {
  position: relative;
  text-align: center;
  margin-bottom: -2px;
}

.page-nav__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 17px;
  right: 22px;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='22.199px' height='22.199px' viewBox='0 0 22.199 22.199' enable-background='new 0 0 22.199 22.199' xml:space='preserve'%3E%3Cpolygon fill='%23ffffff' points='22.199,2.804 19.396,0 11.1,8.297 2.804,0 0,2.803 8.297,11.1 0,19.396 2.803,22.199 11.1,13.902 19.396,22.199 22.199,19.396 13.903,11.1 '/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: none;
  z-index: 105;
  cursor: pointer;

  @media #{$bp-width-tablet} {
    display: none;
  }

  &--closed {
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='22.928px' height='21.982px' viewBox='0 0 22.928 21.982' enable-background='new 0 0 22.928 21.982' xml:space='preserve'%3E%3Cg fill='%2381b3d2'%3E%3Crect width='22.928' height='3.964'/%3E%3Crect y='9.009' width='22.928' height='3.964'/%3E%3Crect y='18.018' width='22.928' height='3.964'/%3E%3C/g%3E%3C/svg%3E");
  }
}

.page-nav__list {
  @include clear-list();
  display: block;
  width: 100%;
  background-color: $steelblue;

  @media #{$bp-width-tablet} {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 13px;
    background-color: $white;
  }

  &--closed {
    display: none;

    @media #{$bp-width-tablet} {
      display: flex;
    }
  }
}

.page-nav__item {
  @media #{$bp-width-tablet} {
    width: 153px;
  }

  @media #{$bp-width-desktop} {
    margin-left: 42px;
    margin-right: 44px;
  }

  &:nth-child(2) {
    @media #{$bp-width-tablet} {
      margin-right: auto;
    }
  }
}

.page-nav__link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 55px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid $darkslategray;
  border-top: 1px solid $powderblue;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: $white;
  text-decoration: none;

  @media #{$bp-width-tablet} {
    min-height: 30px;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    color: $black;
    border: none;
  }

  &:hover {
    background-color: $slategray;

    @media #{$bp-width-tablet} {
      color: $steelblue;
      background-color: $white;
    }
  }

  &:active {
    color: $lightblue;
    background-color: $slategray;

    @media #{$bp-width-tablet} {
      color: $steel;
      background-color: $white;
    }
  }

  &--active {
    // Оставила, потому что если убрать, то курсор при наведении меняется
    // на курсов-вставку текста. Что выглядит не очень, как мне кажется.
    cursor: default;

    &:hover,
    &:active {
      color: $white;
      background-color: $steelblue;

      @media #{$bp-width-tablet} {
        color: $black;
        background-color: $white;
      }
    }
  }
}
