.page-main {
  padding-top: 4px;
  margin-bottom: 35px;
  text-align: center;

  @media #{$bp-width-tablet} {
    padding-top: 7px;
    margin-bottom: 24px;
  }

  @media #{$bp-width-desktop} {
    margin-bottom: 22px;
  }
}

.page-main__header {
  padding: 0 20px;
  margin-bottom: 27px;
  text-align: center;

  @media #{$bp-width-tablet} {
    margin-bottom: 69px;
  }

  @media #{$bp-width-desktop} {
    padding: 0 237px;
    margin-bottom: 71px;
  }
}

.page-main__title {
  margin-top: -1px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  letter-spacing: 0.01em;

  @media #{$bp-width-tablet} {
    margin-bottom: 31px;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }
}

.page-main__lead {
  padding: 0 4px;

  @media #{$bp-width-tablet} {
    padding: 0 142px;
  }

  &--form {
    padding: 0;
    margin-bottom: -11px;

    @media #{$bp-width-tablet} {
      padding: 0 142px;
    }
  }
}
