.places {
  margin-bottom: 27px;
  border-bottom: 1px solid $steel;


  @media #{$bp-width-tablet} {
    order: 4;
    width: 100%;
    margin-bottom: 43px;
    border: none;
  }

  @media #{$bp-width-desktop} {
    margin-bottom: 41px;
  }
}

.places__title {
  @include form-title();
  margin-bottom: 9px;

  @media #{$bp-width-tablet} {
    width: 100%;
    margin-bottom: 35px;
  }

  @media #{$bp-width-desktop} {
    margin-bottom: 34px;
  }
}

.places__title-wrap {
  @media #{$bp-width-tablet} {
    @include lineage($mrg-left: 35px, $mrg-right: 30px);
  }

  &::before,
  &::after {
    @media #{$bp-width-tablet} {
      width: 123px;
    }

    @media #{$bp-width-desktop} {
      width: 305px;
    }
  }
}

.places__list {
  @include clear-list();
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;

  @media #{$bp-width-tablet} {
    display: flex;
    flex-wrap: wrap;
    width: 583px;
    padding-right: 0;
    padding-left: 61px;
    margin: 0 auto;
  }

  @media #{$bp-width-desktop} {
    width: 100%;
    padding-left: 0;
  }
}

.places__item {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 11px;
  align-items: center;
  min-height: 69px;
  cursor: pointer;

  @media #{$bp-width-tablet} {
    width: 200px;
    margin-right: 61px;
    margin-bottom: 19px;
  }

  @media #{$bp-width-desktop} {
    width: auto;
    margin-right: auto;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-child(1) {
    @media #{$bp-width-tablet} {
      order: -1;
    }
  }

  &:nth-child(3) {
    @media #{$bp-width-tablet} {
      order: -1;
    }
  }
}

.places__label {
  display: block;
  position: relative;
  padding: 15px 0;
  padding-left: 80px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 54px;
    height: 54px;
    top: 0;
    left: 0;
    background-color: $mintcream;
    border-radius: 5px;
  }

  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 12px;
    height: 22px;
    top: 17px;
    left: 22px;
    border-top: 3px solid $dimgray;
    border-left: 3px solid $dimgray;
    transform: rotate(-135deg);
    transition: all 0.2s;
    opacity: 0;
  }
}

.places__check {
  position: absolute;
  width: 54px;
  height: 54px;
  opacity: 0;

  &:checked + .places__label::after {
    opacity: 1;
  }
}

.places__check:hover + .places__label::before {
  background-color: $steel;
}

.places__check:active + .places__label::before,
.places__check:focus + .places__label::before {
  background-color: $lightgray;
}

.places__check:active + .places__label::after,
.places__check:focus + .places__label::after {
  border-color: $lightslategray;
}
