.places {
  padding-bottom: 9px;
  border-bottom: 1px solid $steel;
}

.places__title {
  padding-top: 18px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: center;
}

.places__list {
  @include clear-list();
  padding-left: 20px;
  padding-right: 20px;
}

.places__item {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 11px;
  align-items: center;
  min-height: 69px;
  cursor: pointer;
}

.places__label {
  display: block;
  position: relative;
  padding: 16px 0;
  padding-left: 78px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 54px;
    height: 54px;
    top: 0;
    left: 0;
    background-color: $mintcream;
  }

  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 12px;
    height: 22px;
    top: 17px;
    left: 22px;
    border-top: 3px solid $dimgray;
    border-left: 3px solid $dimgray;
    transform: rotate(-135deg);
    transition: all 0.2s;
    opacity: 0;
  }
}

.places__check {
  position: absolute;
  width: 54px;
  height: 54px;
  opacity: 0;

  &:checked + .places__label::after {
    opacity: 1;
  }
}

.places__check:hover + .places__label::before,
.places__check:active + .places__label::before,
.places__check:focus + .places__label::before {
  background-color: $steel;
}
