.reason {
  position: relative;
  width: 100%;

  @media #{$bp-width-tablet} {
    position: relative;
    width: 33.33%;
  }

  &--full {
    @media #{$bp-width-tablet} {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}

.reason__underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 280px;
  height: 1px;
  background-color: $gray;
  z-index: 1;

  @media #{$bp-width-tablet} {
    content: none;
  }
}

.reason__title {
  font-size: 18px;
  line-height: 21px;
  color: $black;
  text-align: center;

  @media #{$bp-width-tablet} {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }

  &--bg {
    margin-bottom: 16px;
    color: $white;

    @media #{$bp-width-tablet} {
      margin-bottom: 10px;
    }

    @media #{$bp-width-desktop} {
      padding-left: 64px;
      padding-right: 64px;
      padding-top: 9px;
      margin-bottom: 12px;
    }
  }

  &--cut {
    @media #{$bp-width-tablet} {
      padding: 0 15px;
      margin-bottom: 10px;
    }

    @media #{$bp-width-desktop} {
      padding: 0 87px;
      margin-bottom: 11px;
    }
  }
}

.reason__description {
  padding-top: 16px;
  padding-left: 31px;
  padding-right: 31px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: $azure;

  @media #{$bp-width-tablet} {
    justify-content: flex-start;
    padding-top: 23px;
    padding-left: 35px;
    padding-right: 35px;
  }

  &--bg {
    padding-top: 31px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 26px;
    background-color: $steelblue;
    color: $white;

    @media #{$bp-width-tablet} {
      width: 256px;
      box-sizing: border-box;
      padding-top: 24px;
      padding-left: 28px;
      padding-right: 29px;
      padding-bottom: 0;
    }

    @media #{$bp-width-desktop} {
      width: 400px;
      padding-top: 21px;
    }
  }

  &--reversal {
    @media #{$bp-width-tablet} {
      order: 2;
    }
  }
}

.reason__num {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 21px;

  @media #{$bp-width-tablet} {
    margin-bottom: 7px;
  }

  @media #{$bp-width-desktop} {
    margin-bottom: 6px;
  }

  &::before,
  &::after {
    content: "";
    width: 9px;
    height: 2px;
    background-color: $dimgray;
  }

  &::before {
    margin-right: 5px;
  }

  &::after {
    margin-left: 5px;
  }

  &--bg::before,
  &--bg::after {
    background-color: $white;
  }
}

.reason__list {
  @include clear-list();

  @media #{$bp-width-tablet} {
    display: flex;
    width: 100%;
  }
}

.reason__img {
  width: 320px;
  height: 260px;
  background-color: $steelblue;
  overflow: hidden;

  @media #{$bp-width-tablet} {
    width: 512px;
    height: 257px;
    overflow: hidden;
  }

  @media #{$bp-width-desktop} {
    width: 800px;
  }

  &--reversal {
    @media #{$bp-width-tablet} {
      order: 1;
    }
  }
}

.reason__text {
  line-height: 21px;

  @media #{$bp-width-tablet} {
    padding: 0 15px;
  }

  @media #{$bp-width-desktop} {
    padding: 0 20px;
  }

  &--long {
    @media #{$bp-width-desktop} {
      padding: 0 26px;
    }
  }

  &--short {
    @media #{$bp-width-desktop} {
      padding: 0 54px;
    }
  }
}
