.reasons {
  margin-bottom: 25px;

  @media #{$bp-width-tablet} {
    margin-bottom: 55px;
  }

  @media #{$bp-width-desktop} {
    margin-bottom: 56px;
  }
}

.reasons__header {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 43px;

  @media #{$bp-width-tablet} {
    width: 495px;
    margin-bottom: 50px;
  }

  @media #{$bp-width-desktop} {
    margin-bottom: 50px;
  }
}

.reasons__title {
  padding: 0 10px;
  margin-bottom: 28px;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $black;

  @media #{$bp-width-tablet} {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 30px;
  }
}

.reasons__lead {
  line-height: 26px;
  text-align: center;
}

.reasons__list {
  @include clear-list();

  @media #{$bp-width-tablet} {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.reasons__item {
  position: relative;

  @media #{$bp-width-tablet} {
    position: initial;
  }
}

.reasons__item:first-child::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  background-color: $steelblue;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='320px' height='37px' viewBox='0 12.452 320 37' enable-background='new 0 12.452 320 37' xml:space='preserve'%3E%3Cpolygon fill='%23ffffff' points='320,12.452 0,12.452 0,34.175 160,49.452 320,34.175 '/%3E%3C/svg%3E");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;

  @media #{$bp-width-tablet} {
    content: none;
  }
}
