.reasons__inner {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.reasons__title {
  padding: 0 10px;
  margin-bottom: 28px;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.reasons__lead {
  line-height: 26px;
  text-align: center;
}

.reasons__list {
  @include clear-list();
}

.reasons__item {
  position: relative;
}

.reasons__item:first-child::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  background-color: $bg_color_blue;
  height: 20px;
}
