.report {
  padding-top: 18px;
  text-align: left;
  border-top: 1px solid $steel;


  @media #{$bp-width-tablet} {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    padding-top: 16px;
    margin: 0 auto;
    margin-bottom: 86px;
    border: none;
  }

  @media #{$bp-width-desktop} {
    width: 960px;
    padding-top: 1px;
  }
}

.report__fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;

  @media #{$bp-width-tablet} {
    width: 50%;
  }

  &--effect {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 47px;


    @media #{$bp-width-tablet} {
      order: 5;
      width: 100%;
      margin-bottom: 51px;
    }
  }
}

.report__title {
  padding-top: 18px;
  margin: 0 auto;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;

  @media #{$bp-width-tablet} {
    margin-bottom: 57px;
    font-size: 21px;
  }
}

.report__textarea {
  width: 100%;
  box-sizing: border-box;
  min-height: 160px;
  padding: 18px;
  background-color: #f2f2f2;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  font-family: inherit;
  color: $black;

  @media #{$bp-width-tablet} {
    padding-top: 15px;
  }

  &:focus {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
  }
}

.report__fieldset--btn {
  @media #{$bp-width-tablet} {
    order: 6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.report__btn {
  @include btn();
  margin: 0 auto;
  padding-top: 5px;

  @media #{$bp-width-tablet} {
    padding: 0;
    margin: 0;
    width: 322px;
  }
}

.report__legend {
  display: none;

  @media #{$bp-width-tablet} {
    display: block;
  }
}
