.report {
  padding-top: 19px;
  margin-bottom: 73px;
  text-align: left;
  border-top: 1px solid $steel;

  @media #{$bp-width-tablet} {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    padding-top: 16px;
    margin: 0 auto;
    margin-bottom: 86px;
    border: none;
  }

  @media #{$bp-width-desktop} {
    width: 960px;
    padding-top: 1px;
    margin-bottom: 90px;
  }
}

.report__fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;

  @media #{$bp-width-tablet} {
    width: 50%;
  }

  &--effect {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 47px;


    @media #{$bp-width-tablet} {
      order: 5;
      width: 100%;
      margin-bottom: 51px;
    }
  }

  &--btn-wrapper {
    @media #{$bp-width-tablet} {
      order: 6;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}

.report__title {
  @include form-title();
  margin-bottom: 14px;

  @media #{$bp-width-tablet} {
    width: 100%;
    margin-bottom: 57px;
  }
}

.report__title-wrap {
  @media #{$bp-width-tablet} {
    @include lineage($mrg-left: 35px, $mrg-right: 35px);
  }
}

.report__textarea {
  width: 100%;
  box-sizing: border-box;
  min-height: 160px;
  padding: 19px;
  background-color: $mintcream;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  font-family: inherit;
  color: $black;

  @media #{$bp-width-tablet} {
    padding-top: 16px;
    padding-left: 22px;
  }

  &:hover {
    background-color: $steel;
  }

  &:focus {
    background-color: $white;
    outline: 4px solid $steel;
  }
}

.report__btn {
  @include btn();
  width: 280px;
  margin: 0 auto;

  @media #{$bp-width-tablet} {
    padding: 0;
    padding-left: 65px;
    margin: 0;
    width: 322px;
    text-align: left;
  }

  @media #{$bp-width-desktop} {
    width: 479px;
    padding: 16px 15px;
    text-align: center;
  }
}

.report__legend {
  display: none;

  @media #{$bp-width-tablet} {
    display: block;
  }
}
