.search {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;

  @media #{$bp-width-tablet} {
    margin-bottom: 56px;
  }

  @media #{$bp-width-desktop} {
    margin-bottom: 67px;
  }
}

.search__subtitle {
  padding-top: 1px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 18px;
  font-weight: 800;
  font-size: 21px;
  line-height: 26px;
  color: $black;

  @media #{$bp-width-tablet} {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.search__lead {
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 25px;

  @media #{$bp-width-tablet} {
    padding: 0 100px;
    margin-bottom: 42px;
  }

  @media #{$bp-width-desktop} {
    padding: 0 220px;
    margin-bottom: 46px;
  }

  & br {
    display: none;

    @media #{$bp-width-tablet} {
      display: inline;
    }
  }
}

.search__link {
  @include btn();

  @media #{$bp-width-tablet} {
    margin: 0 auto;
    width: 460px;
  }
}
