.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 44px;
}

.socials__link {
  display: block;
  box-sizing: border-box;
  width: 47px;
  height: 47px;
  padding-top: 12px;
  margin-right: 6px;
  background-color: $steelblue;

  &:last-child {
    margin-right: 0;
  }
}

.socials__ico {
  fill: $white;
  text-align: center;
  vertical-align: middle;
}
